<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="login-container">
            <h1 class="login-title">modoo</h1>

            <form th:action="@{/login}" th:object="${loginRequest}" th:method="post">
                <div class="form-group">
                    <label for="memberId">아이디</label>
                    <input type="text" id="memberId" th:field="*{memberId}" placeholder="ID">
                    <p style="color: red" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}"></p>
                </div>

                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="PASSWORD">
                    <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>

                <button type="submit" class="btn-login">로그인</button>
            </form>

            <div class="social-login">
                <a href="/oauth2/authorization/google">구글 로그인</a>
            </div>

            <div class="login-links">
                <a>아이디 찾기</a> /
                <a>비밀번호 찾기</a> /
                <a th:href="@{/join}">회원가입</a>
            </div>
        </div>
    </body>

    <script th:inline="javascript">
        let errorMsg = [[${errorMsg}]];
        if(errorMsg) {
            alert(errorMsg);
        }
    </script>
</html>
