<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>모임 생성</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/common.js}"></script>
        <link th:href="@{/css/preview-image-style.css}" rel="stylesheet"/>
    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <div class="logo">modoo</div>
            <h3>지역</h3>
            <select name="region_sido" id="region_sido" onchange="getSigunguList(this);">
                <option value="">-- 시도 선택 --</option>
                <th:block th:each="sido : ${sidoList}">
                    <option th:value="${sido.sidoCd}" th:text="${sido.sidoName}"></option>
                </th:block>
            </select>
            <select name="region_sigungu" id="region_sigungu" onchange="getDongList(this);" style="display: none;">
            </select>
            <select name="region_dong" id="region_dong" style="display: none;">
                <option value="">-- 읍면동 선택 --</option>
            </select>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <h3>category</h3>
            <select name="category" id="category">
                <option value="">-- 카테고리 선택 --</option>
                <th:block th:each="category : ${categoryList}">
                    <option th:value="${category.metadataCd}" th:text="${category.contents}"></option>
                </th:block>
            </select>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <section>
                <h2>모임 생성</h2>

                <div class="form-group">
                    <label for="clubs_name">모임명</label>
                    <input type="text" id="clubs_name"/>
                </div>

                <div class="form-group">
                    <label>대표 이미지</label>
                    <input type="file" id="main_file" name="main_file" onchange="previewImages(this)" style="display: none;">
                    <button type="button" onclick="document.getElementById('main_file').click();">이미지 선택</button>
                    <div id="preview_container"></div>
                </div>

                <div class="form-group">
                    <label>첨부 이미지 (선택)</label>
                    <input type="file" id="sub_file" accept="image/*" onchange="rendersPreviews(this)" style="display: none;">
                    <button type="button" onclick="document.getElementById('sub_file').click();">이미지 선택</button>
                    <div id="sub_container"></div>
                </div>

                <div class="form-group">
                    <label for="clubs_capacity">정원</label>
                    <input type="text" min="0" max="100" id="clubs_capacity"/>
                </div>

                <div class="form-group">
                    <label for="clubs_contents">모임 상세 내용</label>
                    <textarea class="detail-textarea" rows="5" id="clubs_contents"></textarea>
                </div>

                <div class="form-buttons">
                    <button class="btn cancel">취소</button>
                    <button class="btn submit" onclick="createClubs();">작성 완료</button>
                </div>
            </section>
        </div>
        <script th:inline="javascript">
            $(document).ready(function () {

            });

            /*모임 저장*/
            function createClubs() {
                const formData = new FormData;
                if (isEmpty($('#clubs_name').val())) {
                    alert('모임명을 입력해주세요.');
                    $('#clubs_name').focus();
                    return false;
                }
                if (isEmpty($('#clubs_contents').val())) {
                    alert('모임 상세 내용을 입력해주세요.');
                    $('#clubs_contents').focus();
                    return false;
                }
                if (isEmpty($('#clubs_capacity').val())) {
                    alert('모임 정원을 입력해주세요.');
                    $('#clubs_capacity').focus();
                    return false;
                }
                if (isEmpty($('select[name="category"]').val())) {
                    alert('카테고리를 선택해주세요.');
                    $('select[name="category"]').focus();
                    return false;
                }
                if (isEmpty($('select[name="region_dong"]').val())) {
                    alert('지역을 선택해주세요.');
                    $('select[name="region_dong"]').focus();
                    return false;
                }
                if (!$('#main_file')[0].files || !$('#main_file')[0].files[0]) {
                    alert('대표이미지를 선택해주세요.');
                    $('#main_file').focus();
                    return false;
                }
                formData.append('name', $('#clubs_name').val());
                formData.append('contents', $('#clubs_contents').val());
                formData.append('capacity', $('#clubs_capacity').val());
                formData.append('categoryCd', $('select[name="category"]').val());
                formData.append('regionCd', $('select[name="region_dong"]').val());
                formData.append('mainFile', $('#main_file')[0].files[0]);

                // 첨부파일 리스트
                $('input[name="files"]').each(function () {
                    if (this.files.length > 0) {
                        formData.append('files', this.files[0]);
                    }
                });
                // ajaxPostWithParams("/api/clubs/create", param, successFu, errorFu)
                ajaxFileUpload("/api/clubs/create", formData, successFu, errorFu)

            }

            function successFu() {
                location.href = '/';
            }

            function errorFu(res) {
                alert("오류 발생");
            }
        </script>
    </body>
</html>