/*미디어쿼리*/

@media screen and (max-width : 1600px) {
	/*fixed menu*/
	.fixbtn_ul {right:16px;}
	.share_pop .pop_cont {right:80px;}
}

@media screen and (max-width : 1280px) {
	/*fixed menu*/
	/*.fixbtn_ul {display:none;}*/

	/*메인*/
	.list_col {gap:40px;}
	.list_col li:not(:first-child):after {left:-20px;}
	.list_title_area p {font-size:18px;}
	.list_col .list_text {font-size:15px; line-height:23px;}
	.plus_btn {width:35px; height:35px; background-size:12px;}
	.section6 ul {gap:20px;}
	.section6 li {padding:28px 30px; font-size:16px;}
	.section6 span {font-size:36px;}
}

@media screen and (max-width : 1200px) {
	/*메인*/
	.section5 .tab_wrap {padding:60px;}
}

@media screen and (max-width : 1024px) {
	/*메인*/
	.list_col .list_text br {display:none;}
	/*fixed menu*/
	.fixbtn_ul {bottom:40px;}
	.fixbtn_ul.abs {position:absolute;}
	/*커뮤니케이션 좋아요/공유하기*/
	.share_pop.center_pop .pop_dim {background-color:rgba(29,29,29,0.5);}
	.share_pop.center_pop .pop_cont {top:50%; left:50%; transform:translate(-50%, -50%);}

	.mb_w100 {width:100% !important; max-width:100% !important;}
	.solid_line {width:calc(100% + 32px); border-top-width:10px; margin-left:-16px;}
	.mb_flex_wrap {flex-wrap:wrap; gap:6px 24px;}
	.mb_flex_wrap .mb_nowrap {width:100%;}
	.mb_flex_wrap .mb_nowrap + li:after{display:none;}
	.mb_border_none {border:none !important;}
	.detail_page .table.list_detail {border-top:none;}
	.detail_page h2.page_title.type2 {display:none;}
	.detail_page .table.list_detail tbody td {padding:0;}
	.detail_page .table.list_detail tbody td.info {padding:14px 0 24px;}
	.detail_page .table.list_detail tbody td.file {padding:30px 0;}
	.detail_page .table.list_detail tbody td .tag {margin-bottom:8px;}
	.detail_page .btn_wrap button {border-radius:999px;}
	.mypage .table td.type2 {padding: 20px 16px 24px;}
	/*FAQ Table*/
	.faq .table td {padding: 18px 16px;}
	.faq_text {width: calc(100% + 63px); margin-left:16px;}
	.page_title + .btn.form {height:30px; }
	/*아이디찾기*/
	.container.form_page {position:relative;}
	.container.form_page .container_inner {padding-bottom: 60px;}
	/*.container.form_page .container_inner {padding-bottom: 160px;}*/
	/*.container.form_page.pb_big .container_inner {padding-bottom: 190px;}*/
	/*.search_btn_wrap {margin-top:0; position:absolute; bottom:50px; width:calc(100% - 32px);}*/
	/*구매자격 간편조회*/
	.form_page .card h2.page_title {margin-bottom:20px;}
	/*마이페이지 - 메인*/
	.mb_block {display:block !important;}
	.mb_block span {display:inline-block;}
	.mb_flex_top {align-items:flex-start;}
	.card_title {font-size:16px; font-weight:600;}
	.mypage_card > div {width:100%; flex:none;}
	.mypage_card.half_layout > .card {width:100%; flex:none;}
	.mypage_card .light_gray_bg3 {padding:14px 16px; border-radius:8px;}
	.mypage_card .light_gray_bg3 img {display:none;}
	.mypage_card > div p {display:flex; align-items:center; justify-content:space-between;}
	.mypage_card .light_gray_bg3 span {margin-top:0;}
	.mypage_card > div br {display:none;}
	.mb_mt7 {margin-top:7px;}
	.mb_mt8 {margin-top:8px;}
	.mb_mt14 {margin-top:14px;}
	.mb_mt12 {margin-top:12px;}
	.mb_mb4 {margin-bottom:4px;}
	.mb_mt12 span, .mb_mt14 span, .mb_mt7 span {margin-right:8px;}
	.mypage .mb_only .tag {margin-bottom:12px;}
	.mypage .mb_only .tag.mb_0 {margin-bottom:0px;}
	.mypage .mb_only .tag.gray2 {background-color:#F5F6F7;}
	.mypage .mypage_ellipsis_table .col_date_else {width:100%;}
	.mypage .mypage_ellipsis_table td.td_ellipsis {padding-top:41px;}
	.mypage .mypage_ellipsis_table td.td_ellipsis .ellipsis {left:16px; top:21px; transform:translateY(0); width:calc(100% - 32px); display:block;}

	/*마이페이지 - 나의 교육과정*/
	.mypage table {width:calc(100% + 32px); margin-left:-16px;}
	.mypage .table td {padding: 20px 16px; position:relative;}
	.mypage button {max-height:40px; font-size:14px; font-weight:500;}
	.mb_date + button {margin-top:14px;}
	.mb_gray_box {border-radius:8px; border:1px solid #E7E9EC; margin-top:14px;}
	.mb_gray_box li {/*line-height:44px;*/ width:50%; padding:/*0*/ 14px; font-size:13px; color:#787F8F;}
	.mb_gray_box li:nth-of-type(n+3) {border-top:1px solid #E7E9EC;}
	.mb_gray_box li:nth-of-type(even) {border-left:1px solid #E7E9EC;}
	.mb_gray_box li span {font-size:13px; font-weight:500; color:#626975;}
	.mb_gray_box li .underline_btn {font-size:13px; font-weight:500;}

	/*마이페이지 - 나의 교육과정 상세*/
	.education_container .tab_pager {white-space:nowrap; overflow-x:auto; padding: 0 16px; justify-content: flex-start;}
	
	/*마이페이지 - 진단내역 관리*/
	.select.mini {width:75px;}
	.select.mini p {min-width:75px;}
	.detail_p {line-height:45px; background-color:#F9F9FA; padding:0 16px; margin:-18px 0 16px -16px; width:calc(100% + 32px);}
	.table_search_form.mb_only, .table_search_form.mb_flex {flex-wrap:wrap; margin-bottom:30px;}
	.table_search_form.mb_only.mb_small, .table_search_form.mb_flex.mb_small {margin-bottom:14px;}
	.table_search_form.mb_only > input, .table_search_form.mb_flex > input {width:calc(50% - 5px); max-width:100%;}
	.table_search_form.mb_only > input.w_100, .table_search_form.mb_flex > input.w_100 {width:100%;}
	.table_search_form.mb_only > input.w_100, .table_search_form.mb_flex > input.w_email {width:calc(100% - 42px);}
	.table_search_form.mb_only > input.short, .table_search_form.mb_flex > input.short {width: calc(50% - 48px);}
	.table_search_form.mb_only > .date_ul, .table_search_form.mb_flex > .date_ul {min-width:auto; width:calc(100% - 44px);}
	.table_search_form.mb_flex > .date_ul li:not(.sign) {flex:1;}
	.table_search_form.mb_only > .date_ul input, .table_search_form.mb_flex > .date_ul input {max-width:100%; padding:9px 12px;}

	/*마이페이지 - 진단내역 관리 상세*/
	.line_10 {width:calc(100% + 32px); height:10px; background-color:#EFF1F3; margin-left:-16px; margin-top:30px;}
	.line_10.type2 {margin-bottom:30px;}
	.td_top {position:absolute; top:18px; right:20px;}
	.td_top.type2 {position:absolute; top:18px; right:54px;}
	.table_box + .table_box.small {margin-top:30px;}

	.mypage_company_diagnosis .table td {padding-bottom: 24px;}

	/*메인*/
	.section_title {font-size:24px;}
	.section_title span {display:inline-block; font-size:15px; margin-top:20px;}
	.tab_pager {gap:8px;}
	.tab_pager a {font-size:14px; padding:8px 15px;}
	.main_vsl, .main_vsl .swiper-slide {height:320px;}
	.main_vsl .swiper-pagination {bottom:40px;}
	.section2 .inner {padding:0;}
	.list_col {gap:0; flex-wrap:wrap; padding:0;}
	.list_col li {width:100%; border-bottom:1px solid #F5F6F7; flex:none; padding:27px 16px;}
	.list_col li:not(:first-child):after {display:none;}
	.section3 p {font-size:20px; line-height:32px; margin-bottom:40px;}
	.section3 p br {display:none;}
	.course_list {flex-wrap:wrap;}
	.course_list > li {flex:none; width:100%;}
	.course_list > li:last-of-type {display:none;}
	.section5 {padding:60px 0;}
	.section5 .tab_wrap {padding:0;}
	.section5 .tab_pager {width:calc(100% + 30px); margin-left:-15px; margin-top:30px;}
	.section5 .tab_cont {background-size:212px; background-position: bottom 38px right 20px; background-image:url("/birkman/img/icon/img_mb_tab01.svg"); padding:30px 30px 100px; border-radius:24px;}
	.section5 .tab_cont:nth-child(2), .section5 .tab_cont:nth-child(3), .section5 .tab_cont:nth-child(4) {background-image:url("/birkman/img/icon/img_mb_tab01.svg");}
	.tab_title {font-size:20px;}
	.section5 .tab_wrap .detail {font-size:15px; line-height:25px; margin:24px 0 30px;}
	.section5 .tab_wrap .detail br {display:none;}
	.section6 {padding:80px 0; background:none;}
	.section6 ul {flex-wrap:wrap;}
	.section6 li {width:100%; flex:none;}
	.sponsor_list, .example_list {margin-bottom:60px;}
	.sponsor_list .swiper-autoheight .swiper-slide {width: 190px; height: 90px;}

	/*회사소개 주요연혁*/
	.history_card li {width: calc(50% - 8px);}

	/*회사소개 오시는 길*/
	.map_list > li {padding:30px 0;}
	.map_list > li > span {font-size:17px;}
	.map_list .right p {font-size:15px;}
	.map_list .right p span {margin-top:15px;}
	.map_list .icon {margin-right:15px;}
	.bus_list > li:not(:first-of-type) {margin-top:18px;}
	.bus_list > li > span {font-size:15px;}
	.bus_list > li > span i {width:20px; height:20px; line-height:20px; margin-right:10px;}

	/*마이페이지 구매내역*/
	.mypage .tab_pager.mb_flex {margin-bottom:20px; padding:0 16px;}
	.detail_box {padding:14px 16px; background-color:#F9F9FA;margin:-20px 0 20px -16px; width:calc(100% + 32px);}
	.detail_box .next_box {margin-top:14px; padding:10px 16px 0; border-top:1px dashed #E7E9EC; width:calc(100% + 32px); margin-left:-16px;}
	.btn.mb_btn {border-radius:6px; border-color:#A1A6B1; padding:6px 12px; min-width:auto; height:auto;}
	.detail_box .next_box .mb_btn {margin-left:12px;}
	.table_in_option + .table_in_option {margin-top:20px; padding-top:20px; border-top:1px solid #EFF1F3;}

	/*마이페이지 견적내역*/
	.disabled_td {position:relative;}
	.disabled_td:after {content:''; display:block; width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(255,255,255,0.5);}

	/*진단대상자 정보수정 팝업*/
	.pop_wrap .mb_form_box {padding:0; margin-bottom:0; border:none;}
	.pop_wrap .mb_form_box button {margin:0; transform:none; width:100%; max-height:44px; font-size:15px; font-weight:500;}

	/*교육과정 상세팝업*/
	.pop_wrap .table_box + .table_box {margin-top: 20px;}
	.pop_wrap .btn_wrap button {min-width: 120px;}
	.pop_wrap .table_top.detail {margin-bottom: 24px;}

	.mypage .profile_box {flex-wrap:wrap; justify-content:center; margin-bottom:16px;}
	.mypage .mb_form_box > ul.border_none {padding-bottom:0; border:none;}
	.mypage .mb_only .prof_name {font-size:20px; font-weight:500; margin-bottom:20px;}
	.mypage .mb_form_box > ul.border_none p {min-width:85px;}
	.mypage .mb_form_box > ul.border_none .detail_text {display:block; width:calc(100% - 85px);}

	/*회사소개 오시는길*/
	.history_list .detail_box {background-color:transparent;}
	.history_list li:last-of-type .detail_box {margin-bottom:0; padding-bottom:0;}

}

@media screen and (max-width : 768px) {
	/*마이페이지*/
	.mypage_card .light_gray_bg3 {width:100%; flex:none;}

	/*회사소개 주요연혁*/
	.history_card li {width: 100%;}
	.year_text {display:none;}
	.history_list {margin-top: 42px;}
	.history_list > div:last-of-type {width:calc(100% - 10px); margin-left:10px; padding-left:24px;}
	.history_list h3:after {left:-24px;}
	.tab_area li:not(:first-of-type) {margin-left:22px;}

	/*회사소개 오시는 길*/
	#map {height: 200px;}
	.map_list > li {display:block;}
	.map_list > li > span {margin-bottom:25px;}
	.map_list .right {width:100%;}
	.bus_list .bus_number {width: calc(100% - 94px); display:flex; flex-wrap:wrap; gap:5px;}
	.bus_list > li {gap: 28px;}
}

@media screen and (max-width : 480px) {
	/* 모바일 햄버거 메뉴 */
	.hold_tag {font-size:12px; padding:4px 10px;}
	/*메인페이지*/
	.main_vsl .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {margin-right:160px !important;}
	.main_vsl .swiper-pagination-bullet {font-size:14px;}
	.slide_progress_bar {width:120px;}
}


