/* common */
.vertical_middle {vertical-align:middle;}
.pagination li.double.left a {background: #FFFFFF center / auto no-repeat url('/birkman/img/icon/pagination_arrow2.svg');}
.pagination li.double.right a {background: #FFFFFF center / auto no-repeat url('/birkman/img/icon/pagination_arrow2_on.svg');}
.w_120 {width:120px !important;}
.transport_fee div.select {width:calc(50% - 3px);}
.nav_top .btn_wrap .close_btn {margin-left:auto;}
.estimate_sheet_bottom th {-webkit-print-color-adjust:exact;}
@media print { 
	.print_none {display:none;}
	.estimate_sheet.company table {width:calc(100% + 4px); margin-left:-2px;}
	.estimate_sheet.company .table.padding_small th, .estimate_sheet.company .table.padding_small td {font-size:10px;}
}


/* 메인 > 팝업 */
.main_pop .pop_dim {background-color:transparent;}
.main_pop .pop_cont {padding: 0; max-width:400px; overflow: hidden; border:none;}
.main_pop .pop_inner {width: 100%; height: 400px;}
.main_pop .pop_inner > a {width:100%; height: 100%; border-radius:8px 8px 0 0;}
.main_pop .pop_inner > a > img {width: 100%; margin-bottom: 0; height: 100%; background: #f2f2f2; object-fit:cover;}
.main_pop .btn_wrap.type2 {border-top:none;}
.main_pop .btn_wrap.type2 > label, .main_pop .btn_wrap.type2 > button {border: 2px solid #E7E9EC; width:50%;}
.main_pop .btn_wrap.type2 > label {border-radius:0 0 0 8px;}
.main_pop .btn_wrap.type2 > button {border-radius:0 0 8px 0; border-left:none;}

/* 결제 > 옵션선택 팝업*/
.select_option2_pop .pop_cont, .diagnosis_option_pop .pop_cont {max-width:640px;}
.select_option2_pop .pop_inner {max-height:530px;}
.select_option2_pop .half_ul {gap:12px; flex-wrap:nowrap;}
.select_option2_pop .half_ul.wide {gap:24px;}
.select_option2_pop .select.half {width:calc(50% - 6px);}
.select_option2_pop .tag_ul {margin-top:10px;}

/* 진단 구매 > 교구 구매 "즉시 결제" 버튼 팝업 */
.buy_select_pop .pop_inner {padding: 16px 0 20px;}

/* pop_dim */
.pop_dim.type2 {display: none;}

/* 진단대상자 정보수정 팝업 */
.member_edit_pop .mb_form_box {max-height:400px; overflow-y:auto;}
.member_edit_pop .mb_form_box ul {margin-bottom: 30px;}

/* 강사 신청하기 정보 입력 */
.form_page.form_step .request_inner {padding-top:34px;}
.request_inner > div.card + div.card {margin-top:17px;}
.form_ul > li > .add_btn {margin:18px 0 10px 16px;}
.add_item{color:rgba(0, 94, 122, 0.2);}
.add_item_list {padding:12px 14px; position:relative; background-color:rgba(0, 94, 122, 0.02);  border:2px dashed rgba(0, 94, 122, 0.2); border-radius:8px;}
.add_item_text {display:flex;}
.add_item_text img {width:18px; height:20px; margin-right:8px;}
.add_item_text p {margin-right:46px; line-height:1.5;}
.add_item_text p > span {display:inline-block; color:inherit;}
.item_delete {position:absolute; right:14px; top:12px;}
.instructor_request .gap.length_3 label {width:calc(32% - 5px)}
.request_pop {width:240px; border-radius:20px; padding: 20px 24px; background-color:#fff; position:fixed; right:6.25%; top:115px;}
.request_pop ul li + li {margin-top:8px;}
.request_pop ul li a {width:192px; padding: 9px 13px; border-radius:8px; display:flex; justify-content: space-between;}
.request_pop ul li a p {margin-top:5px; color:#787F8F; font-weight:500;}
.request_pop ul li a span {width:60px; display:inline-block;text-align:center; padding: 5px 0; color:#fff; border-radius:4px; background-color:#E7E9EC;}
.request_pop ul li.on span {background-color:#005E7A;}
.request_pop ul li:hover a {background-color:#F2F7F8;}
.request_pop ul li.on a p {color:#373B42; font-weight:600;}
input[type="text"].deduction::placeholder {color:#373B42;}
input[type="text"].deduction {background-color:#F5F6F7; margin-bottom:10px;}
.form_ul > li > .dashed_line.account {margin-bottom: 40px !important;}
.change_phone_before, .change_phone_after, .change_phone_cancle {display: none;} 
.change_phone_before.on, .change_phone_after.on {display: flex;} 
.change_phone_cancle.on {display: block;} 

/* 로그인 */
.login_page .form_ul {margin-bottom:18px;}
.login_page .form_ul li {position:relative;}
.login_page button[type="reset"] {width:20px; height:20px; background-size:20px;}
.login_btn {margin-top:40px;}
.Purchase_check {padding:24px 0; border-radius:20px; background-color: rgba(0, 94, 122, 0.05); }
.Purchase_check strong:after {content:''; display: inline-block; width:6px; height:10px; margin-left:8px; background:url("/birkman/img/icon/icon_arrow_navy.svg") no-repeat center / cover;}
.Purchase_check p {margin-top:10px;}

/* 회원가입 */
.join_select {position:relative; transition:0.3s; border-radius: 12px; background: rgba(245, 246, 247, 0.5); border: 1px solid #E0E3E7; }
.join_select a > span {height:24px; display:inline-block; margin-top:-2px; vertical-align:top; margin-right:12px; background-repeat: no-repeat; background-position: center;} 
.join_select a {padding:25px 24px 30px 28px; width:100%}
.join_select.personal {margin-bottom:20px;}
.join_select .icon_personal {width:20px; background-image: url("/birkman/img/icon/icon_personal.svg"); transition:0.3s;}
.join_select .icon_company {width:24px; background-image: url("/birkman/img/icon/icon_company.svg"); transition:0.3s;}
.join_select.company strong {margin-left:-2px;}
.join_select strong {color:#4d525c; transition:0.3s;}
.join_select p{margin-top:16px; padding-left:36px; line-height:1.5;}
.join_select img:first-child {margin-right:18px;}
.join_select .join_arrow {opacity:0; position:absolute; right:20px; top:28px; transition:0.3s;}
.join_select:hover .join_arrow.on {opacity:1;}
.join_select:hover {background-color: #F5F9FA; border-color: rgba(0, 94, 122, 0.5);}
.join_select:hover .icon_personal {background-image: url("/birkman/img/icon/icon_personal_on.svg")}
.join_select:hover .icon_company {background-image: url("/birkman/img/icon/icon_company_on.svg")}
.join_select:hover strong {color:#161819;}
.sns_login {gap:20px; justify-content:center; margin-bottom:40px;}
.sns_login button {min-width:auto; width:54px; height:54px; border-radius:50%; padding:0;}

/* 개인회원 가입하기 */
.general_join_btn {padding-top:15px;}
.or_line {color:#A1A6B1; margin:24px 0;}
.or_line:before {content:''; display:inline-block; width:calc(50% - 30px); border-top: 1px dashed #CFD2D9; margin-right:20px; vertical-align:middle;}
.or_line:after {content:''; display:inline-block; width:calc(50% - 30px); border-top: 1px dashed #CFD2D9; margin-left:20px; vertical-align:middle;}
.other_join button {font-weight:400;}
.other_join button img {margin-right:12px;}
.other_join button + button {margin-top:8px;}
.icon_compl {width:60px;}


/* 아이디찾기 */
.search_id .form_ul {margin-bottom:0px;}
.search_btn_wrap ul:last-child {margin-top:30px;}

/* 아이디찾기 결과 */
.search_result a {line-height:50px;}
.text_box {padding:20px 0; background-color:#F0F5F7; border-radius:10px; margin-bottom:28px;}
.result_text > p {line-height:1.5; margin-bottom:50px;}
.result_text p span {font-size:inherit;}
.search_result a + a {margin-top:8px;}

/* 비밀번호찾기 */
.search_pw > button {margin-bottom:30px;}

/* 비밀번호찾기 결과 */
.search_result.pw .text_box p {line-height:1.5;}
.search_result.pw .temporary_pw {margin-bottom:40px;}

/* 구매자격 간편조회 */
.purchase_inquiry > p {line-height:1.5; margin-bottom:21px;}
.purchase_inquiry > p span {font-size:inherit;}
.purchase_inquiry .text_box a {line-height:1.5; text-decoration: underline;}
.purchase_inquiry .text_box p {line-height:1.5;}
.purchase_inquiry .text_box p span {font-size:inherit; color:inherit;}
.purchase_table {width:100%}
.purchase_table tbody th {width:80px;}
.purchase_table.type2 tbody th {vertical-align: middle; padding-top: 7px;}
.purchase_table tbody tr.wrong th {padding: 0 0 25px;}
.purchase_table tbody td {padding: 4px 0; width:calc(100% - 80px);}
.purchase_table tbody tr:first-of-type td {padding-top: 0;}
.purchase_table tbody tr:last-of-type td {padding-bottom: 0;}

/* 기업회원으로 가입하기_step3 */
.company_step3 > ul:nth-of-type(1) {margin-bottom:40px;}


/* 자주하는 질문 */
.tab_justify {display:flex; justify-content:space-between;}
.col_arrow {width:59px;}
.faq_arrow {vertical-align: baseline;} 
.faq_arrow i {width:11px; height:6px;display:inline-block; vertical-align:middle; opacity:0.5; transition:0.3s; transform:rotate(180deg); background: url("/birkman/img/icon/icon_arrow_up.svg") no-repeat center / contain;} 
.faq_arrow.on i {transform:rotate(0deg); opacity:1; }
.faq_text {display:none; width: calc(100% + 99px); color:#4D525C; border-top: 1px solid /* rgba(255, 113, 18, 0.01) */ #E7E9EC;  position:relative; left:-20px; top:20px; padding:20px; background-color:#F5F6F7;}
.faq_text.on {display:block;}
.faq .pop_cont {padding:32px 24px 24px; max-width:296px; border-color:#E7E9EC;}
.faq .pop_title {margin:32px 0 5px; padding-right:0; color:#222429;}
.faq .pop_inner p {color:#B5BAC4; margin-top:5px;}
.faq .pop_wrap .btn_wrap {margin-top:23px; display:block; width:100%;}
.faq .pop_wrap .btn_wrap button {width:124px; border-radius:6px;}
.tab_ul.type2 {margin: 0;}
.tab_button_area {margin: 40px 0 16px;}

/* 이벤트 상세페이지 */
.event span.tag {margin-right:8px}
.event span.event_date {color:#A1A6B1; line-height:1.5;}

/* 블로그 상세페이지 */
.blog_title_cate {display:block;margin-bottom:6px;}

/* 마이페이지 > 홈 */
.mypage_home .table.list tbody tr:last-of-type {border-bottom: 0;}
.mypage_home .table.list tbody tr:last-of-type td { padding-bottom: 0;}
.mypage_home .table.list.mypage_ellipsis_table tbody tr:last-of-type td.td_ellipsis .ellipsis {transform:translateY(0);}

/* 마이페이지 > 기업정보 관리 */
label.upload_btn {height:30px; display:inline-block; line-height:30px; font-size:12px; border-radius:6px; min-width:unset;}
.mypage_btn_wrap {margin:20px 0 60px;}
.mypage_btn_wrap button {padding:0 24px;}
.mypage_list_btn {font-size:14px; height:40px; line-height:40px; margin-top:20px;}
.table_box + .table_box {margin-top:40px;}
.table_box h3 {font-size:18px; font-weight:600;}
.mypage_company .table_box h3.list_title {margin-bottom:24px;}
.square_middle {height:32px; line-height:32px; border-radius:6px; font-size:14px;}
.mypage_company .table.list.padding_10 th {padding:16px 10px;}
.mypage_company .table.list.padding_10 td {padding:20px 10px;}
.expiration td {color:#B5BAC4;}
.table_box_btns_wrap {margin-bottom:24px;}
.company_address {padding-right:0 !important;}
.company_address > div:first-child > input:first-child {width:160px;}
.company_address > div:last-child {margin-top: 8px;}

/* 마이페이지 > 기업교육 관리 */
.mypage_company_education_detail h3.list_title {margin-bottom:24px;}

/* 마이페이지 > 기업견적 내역 > 예상 견적서 */
.estimate_sheet .estimate_sheet_inner {/*margin-top:6.5%; margin-left:50%; transform:translateX(-50%)*/ max-width:940px; margin:6.5% auto;}
.estimate_sheet .estimate_sheet_wrap {border:1px solid #CFD2D9; padding: 40px 40px 60px; }
.estimate_sheet_top_left .page_title {margin-bottom:0;}
.estimate_sheet_top_left .page_title h2{font-size:32px; margin-bottom:42px;}
.estimate_sheet_top_left .page_title p{font-size:18px;}
.estimate_sheet_top_left .page_title span{font-size:20px; margin-top:12px; font-weight:inherit; display:block;}
.estimate_sheet_top {border-bottom:1px solid #E7E9EC; padding-bottom:40px; margin-bottom:40px;}
.estimate_sheet_top > div {width:calc(50% - 40px)}
.estimate_sheet_top_right {border-left:1px solid #4D525C; padding-left:40px;}
.estimate_sheet_top_right p {color:#4D525C;}
.estimate_sheet_top_right p + p {margin-top:8px;}
.estimate_sheet_bottom > p {font-size:18px; margin-bottom:27px;}
.estimate_sheet_bottom > p strong {font-size:22px;}
.estimate_sheet_bottom table.detail.form tbody tr th {padding: 12px 14px;}
.estimate_sheet_bottom table.detail.form tbody tr td {padding: 11px 15px;}
.estimate_sheet_bottom .table_box {margin-bottom:40px;}
.sheet_bottom_text_wrap strong {font-weight:400;}
.sheet_bottom_text_wrap p {margin-top:20px;}
.sheet_bottom_text_wrap p + p {margin-top:8px}
.estimate_sheet_wrap {margin-bottom:28px;}
.dark_gray_btn {background-color:#373B42 !important; color:#fff !important;}
.estimate_sheet_inner .btn_wrap button {height:42px; padding:0 30px; font-size: 15px;}
.estimate_sheet_inner .btn_wrap button.first {padding: 0 40px;}
.estimate_sheet_inner .btn_wrap button + button {margin-left:10px;}
.estimate_sheet_bottom > p span + span {float:right; margin-top:10px; margin-bottom:4px;}

/* 기업정보 관리 > 기업 적립금내역 */
.point_top {width: 100%; padding: 16px 0; background: #F6FAFB; border-radius:8px;margin-bottom:24px;}
.point_top .devide_ul {justify-content: center;}

/* 개인정보수정 */
.transparent_table .page_title {margin-bottom:50px;}
.transparent_table .table_top {margin-bottom:20px;}
.transparent_table h3 {margin-bottom:0px;}
.transparent_table .table_wrap {border-top:1px solid #4D525C; padding:14px 0; border-bottom: 1px solid #EFF1F3;}
.transparent_table .table_wrap + .table_wrap {margin-top:60px;}
.transparent_table .table.detail {border:none;}
.transparent_table .table.detail th {border:none; background-color: transparent; color:#626975; width:200px; }
.transparent_table .table tbody tr {border:none;}
.transparent_table .table.detail td {display:flex; max-width:400px; padding:0; min-height:48px; margin:10px 0;}
.transparent_table .table.detail .tr_birth .gap {flex-wrap:nowrap; margin-left:26px;}
.transparent_table .table.detail input {min-height:48px;}
.transparent_table .table.detail .tr_address td {display:block; height:auto;}
.transparent_table .table.detail .tr_address .form_gap {margin-bottom:8px;}
.transparent_table .table.detail .tr_address .address_num {width: calc(100% - 272px);}
.transparent_table .btn_wrap button {width:188px; height:42px; margin-top:24px;}
.mypage_privacy .btn_wrap {width: 100%;}
.transparent_table .table.detail .job_area td {max-width:600px;}
.transparent_table .table.detail .job_area td label[for="job7"] {margin-right: 29px;}
.transparent_table .table.detail .job_area td label[for="job8"] {margin-right: 40px;}
.transparent_table .table.detail .job_area td label[for="job9"] {margin-right: 16px;}
.navy2_btn {background-color:#196E87 !important; border-color:#196E87 !important; color:#fff !important;}
.tr_phone .btn {min-width:116px;}
.transparent_table .tr_phone .form_gap {width:100%;}
.transparent_table .tr_join .select {width:100%; position:inherit;}
.policy_privacy_manager {margin-top: 20px;}

/* 이용약관 */
.container.layout_type2.policy {max-width:800px;}
.container.layout_type2.policy .contents {width:100%}
.policy .contents p {line-height:1.4; letter-spacing:-0.5px;}
.policy .contents h2.page_title.type2 {margin-bottom:24px;}
.policy .contents h3 {margin-bottom:12px;}
.policy .contents h4 {margin:30px 0 20px;}
.policy .contents > div + div {margin-top:40px;}
.policy_service_text_box > h3 {font-size: 16px;}
.policy_service_text_box > p {font-size: 15px;}

/* 마이페이지 > 나의 교육과정 */
.pd_title{line-height: 0.99;}
.pd_title.ellipsis2 {white-space:pre-line; height:50px; line-height: 1.4;}
table.my_education td a + a {margin-left: 10px;}

/* 마이페이지 > 기업정보 > 권한 이양 팝업 */
.authority2_pop .table tbody tr {border-bottom:none;}
.authority2_pop .pop_btns button {min-height:42px;}
.authority2_pop .devide_wrap {border-radius:12px;margin-top:20px;}
.authority2_pop .devide_ul {padding:22px 0;}

/* 마이페이지 > 기업정보 > 소속 직원으로 초대 팝업 */
.invited_pop .form_gap + .form_gap {margin-top:8px;}
.invited_pop .form_gap button {min-width:48px;}
.invited_pop .delete_btn {background: #B5BAC4; color:#fff; border: none;}

/* 개인정보 수정 > 휴대폰번호 변경 팝업 */
.phone_modify_pop .form_gap + .form_gap {margin-top:8px;}
.pw_modify_pop .form_gap + .form_gap {margin-top:8px;}
.my_page_save_btn {width: 188px; margin-top: 24px;}

/* 버크만 솔루션 > 전문가교육 과정 소개 */
.top_tab {border-bottom: 1px solid #F5F6F7; margin-bottom: 30px; width:calc(100% + 32px); margin-left: -16px; padding-left: 16px;}
.top_tab ul li a {font-size: 15px; font-weight: 500; padding-bottom: 14px; color:#A1A6B1;}
.top_tab ul li.on {border-bottom: 1px solid #F5F6F7;}
.top_tab ul li.on a {border-bottom: 2px solid #373B42; color:#373B42;}

/* 버크만 솔루션 > 기업교육 소개 > 기업교육 리스트 > 상세 */
.education_container.solution ul.tab_pager{ border-top:1px solid #4D525C; padding-top:20px;}
.contents_top {justify-content:space-between;}
.contents_top > button {font-size: 13px; font-weight: 500; color:#4D525C; border-radius:6px; padding: 7px 14px; height: 32px; min-width: 28px;	}
.mb_only2 {display: none !important;}
.inquiry_open {margin-bottom: 17px;}

/* 버크만 솔루션 > 정규교육 일정/리스트 */
.education_list_flex {justify-content: space-between;}

/* 버크만 솔루션 > 캘린더 */
.toastui-calendar-month .toastui-calendar-month-daygrid {height:calc(100% - 40px);}

/* 버크만 솔루션 > 문의하기 팝업*/
.inquiry_pop .pop_inner textarea {margin-top: 20px;}
.inquiry_pop .checkbox_wrap{margin-top: 12px;}

/* 결제 > 장바구니 */
.cart_num {font-size: inherit;}
.cart_radio_wrap {margin-bottom:16px;}
.payment_cart_box {justify-content:space-between; position: relative;}
.cart_area {width: 68.5%;}
.cart_title {/* margin-bottom: 6px; */}
.cart_vat {display:block; margin-bottom: 3px;}
.cart_cate {font-size: inherit; font-weight: inherit; margin-right: 4px; color:#222429;}
.cart_count {display:flex; align-items:center; gap:14px;}
.cart_price {margin:16px 0 12px;}
.cart_price span {font-size: inherit; font-weight: inherit; color:inherit;}
.cart_option {display:flex; align-items:center; flex-wrap:wrap; gap:4px; margin-top:6px;}
.cart_option .option_t {font-weight:600; color:#787F8F;}
.cart_option .cont {color:#373B42; margin-right:4px;}
.cart_option > p {/* margin-right: 4px; */}
.cart_option ul li {color:inherit;}
.cart_option ul li + li {margin-left:4px;}
.cart_option button {/* margin-left:8px; */}
button.small_square {padding: 5px 8px; border-radius:6px; font-size: 12px; border: 1px solid #CFD2D9;}
.cart_point {color:#196E87;}
.cart_input {max-height: 32px;}
input.cart_input {min-width:50px; padding:0 12px;}
.cart_area .table + .table {margin-top: 40px;}
.cart_delivery_text {margin-top: 40px;}
.cart_delivery_text > p {margin-bottom: 15px;}
.cart_delivery_text > p, .cart_delivery_text > span {font-size: inherit;}
.payment_area {width:26.5%; padding: 28px 24px; border: 1px solid #EFF1F3; border-radius:20px; position:sticky; right:2%;top:211px; background: #fff;}
.payment_area h3 {margin-bottom: 24px;}
.cart_total {border-top: 1px solid #EFF1F3; margin-top: 20px; padding-top: 20px; margin-bottom: 28px;}
.cart_total.no_bot {margin-bottom:0;}
.payment_area ul li + li {margin-top: 12px;}
.price_col {display:flex; flex-direction:column; gap:6px;}
.half_w > * {width:50%;}
table.cart {width:calc(100% + 32px); margin-left:-16px;}
table.cart td {padding:24px 16px;}
.mb_cart_table label {position:absolute; margin-top:3px;}
.mb_cart_table label i {margin-right:0;}

/* 결제 > 결제화면 */
.table_top .checkbox_wrap {margin-left: 70px;}
.transparent_table.type2 .table.detail th {padding:0; width:150px;}
.transparent_table.type2 .table.detail tr th {vertical-align: baseline;}
.transparent_table.type2 .table.detail tr.cart_address td, .transparent_table.type2 .table.detail tr.cart_point td {max-width: 100%; display: block;}
.transparent_table.type2 .table.detail tr.cart_address td input {margin:4px 0;}
.transparent_table.type2 .cart_delivery_text {margin-top: 2px; background: #FDFDFE; border: 2px dashed #E7E9EC; border-radius: 8px; padding: 20px 24px;}
.transparent_table.type2 .table_wrap {border-bottom: none;}
.transparent_table.type2 .table.detail tr.cart_point td > p {margin-top: 10px;}
.transparent_table.type2 .cart_point .point_condition_open {margin-left: 5px;}
.table_top.with_chk {display:flex; align-items:center;}
.total_point {margin-top:12px;}
.transparent_table .table.no_width td {max-width:unset;}
.fixed_info_btn.round {width:22px; height:22px; background:url('/birkman/img/icon/icon_arrow_round.svg') no-repeat center / 22px; opacity:1; margin-bottom:0;}
.card_mini {padding:20px; border-radius:4px;}
.schedule_contents .left .bottom li + li {margin-top: 2px;}

/* 결제 > 결제완료(신용카드, 실시간계좌이체 선택시) */
.payment_cart_box .card button {width: 275px; margin-top: 50px;}
.payment_cart_box .card .complete_title {margin: 24px 0 28px; font-size:18px;}
.complete_img {width: 440px; height: 300px; background: #f2f2f2; margin: 0 auto 40px;}
.complete_txt {font-size:16px; font-weight:500; margin-bottom: 24px;}
.complete_desc {font-size:14px; margin-bottom: 24px;display: block;}

/* 결제 > 결제완료(무통장입금) */
.order_info ul {width: 440px; margin: 0 auto; padding: 24px; border: 1px solid #EFF1F3; border-radius:12px;}
.order_info ul li {display:flex; flex-wrap:wrap;}
.order_info ul li + li{margin-top: 12px;}
.order_info ul li p {width:100px; font-weight: 500; color:#626975; text-align:left;}
.order_info ul li p:first-child:before {content:'·'; display:inline-block; color:#626975; margin-right:4px;}

/* 결제 > 진단 일정 변경 팝업 */
.diagnosis_date_option_pop .pop_cont {min-width:1175px;}
.diagnosis_date_option_pop .schedule_box {max-width:1175px;}


/*강의관리 > 강의스케줄*/
.schedule_box > .calendar_area {width:55%; border:1px solid #E7E9EC; border-radius:12px 0 0 12px; border-right:none;}
.schedule_box > .schedule_area {width:45%; border:1px solid #E7E9EC; border-radius:0 12px 12px 0; background-color:#F7F7F8;}
.schedule_area .date {padding:12px 24px; width:calc(100% - 48px); margin:0 0 20px 24px; border-bottom:1px solid #E7E9EC; text-align:center; font-size:15px; font-weight:500; color:#222429;}
.schedule_area .date .number {font:inherit; color:#005E7A;}
.schedule_wrap {max-height:377px; overflow-y:auto; padding:0 24px 20px;}
.schedule_wrap::-webkit-scrollbar-thumb {background:#CFD2D9;}
.schedule_wrap .schedule_contents {width:calc(100% - 31px); background-color:#FFFFFF; border:1px solid #EFF1F3; border-radius:12px; padding:20px;}
.schedule_wrap > ul > li:not(:first-of-type) {margin-top: 12px;}
.schedule_wrap li.on .schedule_contents {border-color: #005E7A;}
.schedule_contents {width:100%; margin-left: 5px;}
.schedule_contents div.left {max-width:320px; border-right: 1px solid #EFF1F3; padding-right: 45px;}
.schedule_contents .normal_price {text-decoration:line-through;}
.schedule_contents .tag.type4 {margin-right: 10px;}
.schedule_contents .left .top {margin-bottom: 12px;}
.schedule_contents .left .bottom li > span:not(:last-of-type) {margin-bottom: 6px;}
.schedule_contents .left .bottom li p a {margin-left: 4px;}
.diagnosis_date_option_pop .schedule_box > .calendar_area {width:50%}
.diagnosis_date_option_pop .schedule_box > .schedule_area {width:50%}

/*연구*/
.board_like img, .board_date img{margin:0 8px 4px 0;}
.board_like img {margin-top: 1px;}
.table td.board_like {width:100px; padding-right: 12px; font-size: 15px;}
.table td.board_date {padding-left: 0;}
.board_like:after {content:''; display: inline-block; width: 1px; height: 13px;background: #CFD2D9; margin-left: 12px; }


/* 결제 > 진단 구매 서약 팝업 */
.diagnosis_purchase_pop .pop_cont {min-width:726px; max-height:90%; overflow-y:auto;}
.diagnosis_purchase_pop .desc {margin-bottom: 28px;}
.diagnosis_purchase_pop .purchase_info_list {padding-bottom: 28px; border-bottom: 1px solid #EFF1F3;}
.diagnosis_purchase_pop .purchase_info_list li > p {margin-bottom: 11px;}
.diagnosis_purchase_pop .purchase_info_list li + li {margin-top: 28px;}
.diagnosis_purchase_pop ul.form_ul {margin-top: 28px;}
.diagnosis_purchase_pop .checkbox_wrap {margin-top: 28px;}

/* 결제 > 적립금 사용조건 팝업 */
.point_condition_list li + li {margin-top: 28px;}
.point_condition_list li p {margin-bottom: 11px;}

/* 모바일 gnb */
.mb_nav {width:290px; height:100%; background: #fff; position:fixed; left:-100%; top:0; z-index: 100; padding: 0 20px; transition: all 0.4s;}
.mb_nav.on {left:0;}
.mb_nav .nav_top {border-bottom: 1px solid #EFF1F3; padding-bottom: 20px; margin-bottom: 25px;}
.mb_nav .nav_bottom {height:calc(100% - 129px); overflow: hidden; overflow-y:auto;}
.mb_nav .btn_wrap {padding: 15px 0; margin-bottom: 14px;}
.mb_gnb > li {position: relative;}
.mb_gnb > li > a:after {content:''; display: block; width: 32px; height: 32px; opacity:0.5; background: url("/birkman/img/icon/icon_plus.svg") no-repeat center; position: absolute; right:0; top:8px;}
.mb_gnb > li + li {margin-top: 4px;}
.mb_gnb > li > a{width: 100%; font-size: 17px; height: 50px; line-height: 50px; font-weight: 600; color:#161819; text-align:left;}
.mb_gnb .mb_sub {display: none; padding: 14px 15px; height: auto; position:relative; left:0; top:0;}
.mb_gnb .mb_sub li a {width: 100%; font-size: 15px; text-align:left; color:#4D525C; font-weight: 400;}
.mb_gnb .mb_sub li + li {margin-top: 16px;}
.mb_gnb > li.on .mb_sub {display: block;}
.mb_gnb > li.on > a:after {background-image: url("/birkman/img/icon/icon_minus.svg");}

/* 개인회원으로 가입하기 */
.chk_box_wrap { border: 1px solid #EFF1F3;padding: 14px 16px; border-radius:6px;}
.chk_box_wrap > label {margin-bottom: 16px;padding-bottom: 16px; border-bottom: 1px dashed #EFF1F3;}
.chk_label_wrap label:not(:first-of-type) {margin-top: 12px;}
.chk_label_wrap .checkbox:checked + label i {border-color:transparent;}

/* 진단 구매 > 버크만 진단 구매 */
.inquiry_title {padding-top: 1px;}

/* 마이페이지 > 강의 관리 정산내역*/
.table td.td_price {padding-right: 40px;}

/*Birkman at Work*/
.work_wrap ul li {width:100%; height: 580px; background: url("/birkman/img/img_work1.svg") no-repeat center /cover; position: relative;}
.work_wrap ul li:after {content:''; display: block; width:100%;height:100%; background:linear-gradient(to top, #161819 8%, transparent 60%);}
.work_wrap ul li:last-child:after {border-radius:0 0 24px 24px;}
.work_wrap ul li:first-child {border-radius:24px 24px 0 0;}
.work_wrap ul li:last-child {border-radius:0 0 24px 24px;}
.work_wrap ul li:nth-child(2) {background-image: url("/birkman/img/img_work2.svg");}
.work_wrap ul li:nth-child(3) {background-image: url("/birkman/img/img_work3.svg");}
.work_wrap ul li:nth-child(4) {background-image: url("/birkman/img/img_work4.svg");}
.work_wrap ul li:nth-child(5) {background-image: url("/birkman/img/img_work5.svg");}
.work_wrap ul li:nth-child(6) {background-image: url("/birkman/img/img_work6.svg");}
.work_txt_wrap {position: absolute; bottom: 72px; color:#fff; font-size: 34px;}
.work_wrap ul li:nth-child(odd) .work_txt_wrap {left: 64px;}
.work_wrap ul li:nth-child(even) .work_txt_wrap {right:64px; text-align:right;}
.work_txt_wrap p {color:inherit; font-size: 15px; font-weight: 300; margin-top: 20px; letter-spacing:-0.15px}
.work_txt_wrap p > span {font-weight: bold; color:inherit;}

/*마이페이지 > 나의 교육과정 > 상세 점수 채점 팝업*/
.score_pop .score_desc {font-size: 15px;font-weight: 400;line-height: 22px;color:#4D525C;}

/*마이페이지 > 나의 교육과정 > 상세*/
.pass_wrap {text-align: center; margin-top: 60px;}
.pass_desc {font-size: 24px; line-height: 29px;font-weight: 600; color:#222429;}
.pass_desc span {display: block; margin-top: 12px; font-size: 15px; font-weight: 400; line-height: 24px; color:#4D525C; margin-bottom: 32px;}
.pass_wrap img {width:324px;}



/* 미디어쿼리 */
@media screen and (max-width : 1710px) {
	/* 강사 신청하기 > 강사 신청 입력창 */
	.request_pop {width:232px; padding:20px; right:15px;}
}

@media screen and (max-width : 1220px) {
	/* 결제 > 진단 일정 변경 팝업 */
	.diagnosis_date_option_pop .pop_cont {min-width:980px;}
	.diagnosis_date_option_pop .schedule_box {max-width:980px;}
	.diagnosis_date_option_pop .schedule_box > .calendar_area {width:45%;}
	.diagnosis_date_option_pop .schedule_box > .schedule_area {width:55%;}
	.diagnosis_date_option_pop .schedule_wrap {padding:0 16px 20px;}
	.diagnosis_date_option_pop .schedule_area .date {width:calc(100% - 32px); margin:0 0 20px 16px;}
	.schedule_contents div.left {padding-right:25px;}
}

@media screen and (max-width : 1200px) {
	/* 결제 > 장바구니 */
	.cart_area {width:71%;}
}

@media screen and (max-width : 1024px) {
	.mt_10 {margin-top: 10px !important;}
	.mb_0 {margin-bottom: 0 !important;}
	.container {padding-bottom: 0; background-color: #fff;}
	.form_page .container_inner {padding: 0;}
	.form_page.form_step .container_inner {padding: 0;}
	.form_page .card h2.page_title {font-size: 22px; font-weight: 700;}
	.form_page .card {max-width:100%; border-radius:0; padding: 30px 16px 0; box-shadow:none;}
	.card h3 {font-size: 17px;}
	h2.page_title.type2 {margin-bottom: 20px; width:100%;}
	.faq_arrow i {width:14px; height:8px; background-image:url('/birkman/img/icon/icon_arrow_mb.svg');}
	.col_arrow {width:48px;}
	.table.list_detail .cate {font-size: 15px;}
	.table td .cate {font-size: 14px;}
	.gray_line_card .tag {margin-bottom: 8px;}
	.gray_line_card h2 {margin-bottom: 10px; width:100%;}
	.gray_line_card .left_area {width:100%;}

	/*메인팝업*/
	.main_pop .pop_inner {min-width: 343px; min-height: 429px;}
	
	/* 강사 신청하기 */
	.request_pop {display: none;}
	.form_page.form_step .request_inner {padding-top: 0;}
	.form_page .card.instructor_request h2.page_title {margin-bottom: 30px;}
	.request_inner > div.card + div.card {margin-top: 0; border-top: 1px solid #EFF1F3;}
	.request_inner > div.card {padding-bottom: 30px;}

	/* 로그인 */
	.login_btn {margin-top: 50px;}

	/* 회원가입 */
	.join_select a {padding: 20px 21px 24px;}
	.join_select > a > span {display: block; margin-bottom: 10px;}
	.join_select p {padding-left: 0;}
	.join_select .join_arrow {top:24px; right:20px;}
	.icon_compl {width:70px;}

	/* 개인회원으로 가입하기 */
	.other_join button {font-size: 14px;}
	.step {padding: 30px 0 0 0; margin: 0 auto;}
	.step h2{display: none;}
	.step .step_ul {gap:30px;}
	.step .step_ul li {font-size: 13px;}
	.step .step_ul > li::after {width:87px;}
	.form_page .card.join_personal_step {padding-top: 30px;}
	.sb_ul {margin-top: 12px;}
	.form_step3 .card {padding-top: 80px;}
	.form_step3 .card p.complate_title {font-size: 20px; margin-bottom: 30px;}

	/* 버크만 솔루션 > 전문가교육 과정 소개 */
	.education_contents {border-radius:10px}
	.education_intro_cards .gray_line_card .title {font-weight:600; /* color:#005E7A; */ background-image:url('/birkman/img/icon/icon_next_arrow.svg');}
	.education_intro_cards .gray_line_card {width:100%}

	/* 버크만 솔루션 > 정규교육 일정/리스트 */
	.education_list_flex {flex-direction:column;}
	.education_list_flex .change_btn {margin-bottom: 0;}
	.education_list_flex .change_btn div.select {width:106px;}
	.education_list_flex .change_btn div.select.mb_only {width:140px; margin-left: 4px;}
	.education_list_cards {width: calc(100% + 32px); margin-left: -16px;}
	.education_list_cards .gray_line_card {border:1px solid transparent; border-top-color: #E7E9EC; border-bottom-color: #E7E9EC; border-radius:0; padding-left: 16px; padding-right: 16px;}
	.education_list_cards .gray_line_card + .gray_line_card {border-top: none;}
	.education_list_cards .right_area {text-align:left; margin-top: 14px; width: 100%;}
	.education_list_cards .right_area .btn_wrap button {width:calc(50% - 5px)}
	.education_list_cards .right_area button {width:100%}
	.education_list_cards .right_area > div:first-child {margin-bottom: 24px;}
	.education_list_cards .right_area > div:last-child {width: 100%;}
	.card_detail {width: calc(100% + 47px)}
	.education_list_cards {gap:0;}

	/* 버크만 솔루션 > 캘린더 */
	.calendar_box {margin-top: 12px; border-top: 1px solid #E7E9EC; width:calc(100% + 32px); margin-left: -16px; padding: 20px 16px 0 16px;}
	.calender_top {background-color: transparent; margin-bottom: 8px;}
	.calender_top .today_btn {left:0;}
	#calendar {height: 420px !important;}
	
	/* 버크만 솔루션 > 상세 */
	.contents_top {display:block !important;margin-bottom: 40px;}
	.education_container.solution ul.tab_pager {border-top: 1px solid #4D525C !important; width:calc(100% + 32px); margin-left: -16px;}
	.sticky_wrap > ul {top:53px}
	.overflow_h {overflow-x:auto; white-space:nowrap;}
	.education_detail_tab.tab_pager.type2 {gap:20px;}
	.sticky_cont .table.list {width:calc(100% + 32px); margin-left: -16px; border-top:1px solid #E7E9EC;}
	.sticky_cont .faq_text {width:calc(100% + 84px); margin-left: 0;}
	.sticky_cont .btn.title_btn {margin-bottom: 16px;}
	.mb_only2 {display: block !important;}
	.devide_ul_wrap {margin-top: 12px;}
	.faq_m_title {font-size: 15px;}
	.fixed_info.mb_only {/* padding: 14px 0 16px; */ border-radius: 14px 14px 0 0 ;}
	.fixed_info.mb_only.case2 {border-radius:0;}
	.fixed_info.mb_only.single {border-radius:0;}
	.fixed_info.mb_only .btn_wrap {width:calc(100% + 32px); margin-left: -16px; margin-top: 0px; border-top:1px solid #EFF1F3; padding-top:16px;}
	.fixed_info.mb_only .btn_wrap button {width:calc(50% - 23px); height: 41px;}
	.fixed_info.mb_only .btn_wrap button + button {margin-left: 10px;}
	.fixed_info.mb_only .btn_wrap button.full {width:calc(100% - 32px);}
	.fixed_info.mb_only .form_ul {padding-top: 10px; margin-bottom: 12px;}
	.fixed_info.mb_only .text_wrap {padding: 18px 16px; border-radius:4px; background: #F8F9FA;}
	.fixed_info.mb_only .text_wrap li + li {margin-top: 10px;}
	.fixed_info .inner.round {border-radius: 14px 14px 0 0 ;}
	.fixed_info_btn {width: 100%;height: 16px; background: url('/birkman/img/icon/icon_arrow_mb.svg') no-repeat center / 20px; opacity:0.5; margin-bottom: 14px;}
	.fixed_info_btn.on {transform:rotate(180deg)}
	/*.fixed_info_contents {display: none; padding-bottom:20px;}*/
	/*.fixed_info_contents.on {display: block;}*/
	/*.fixed_info_contents .total_price {margin-top: 30px;} /*fixed_info_contents의 하단패딩으로 잡았습니다!*/
	.fixed_info_contents {max-height:0; overflow: hidden; transition: max-height 0.4s;}
	.fixed_info_contents.on {max-height:999px;}
	.fixed_info_contents.on .fixed_info_btn {transform:rotate(180deg)}
	.fixed_info_contents .total_price {margin-top: 30px; margin-bottom: 20px;}
	/* .table_wrap.inquiry .faq_text {width:calc(100% + 264px); white-space:break-spaces; overflow-x:hidden;} */
	.table_wrap.inquiry .faq_text {width:calc(100% + 84px); white-space:break-spaces; overflow-x:hidden;}
	.education_container {padding: 60px 0;}

	/*연구*/
	.board_wrap {display:flex;}
	.board_like, .board_date {display:flex;}
	.point_tr .board_like img, .point_tr .board_date img {margin-top: 7px;}
	.board_like img, .board_date img{margin:10px 8px 0 0;}
	.board_like:after {margin-top: 15px; margin-right: 12px;}
	.point_tr .board_like:after {margin-top: 12px;}
	
	/* 결제 > 장바구니 */
	.cart_page .payment_cart_box {flex-wrap:wrap;}
	.cart_page .cart_title {display:flex; align-items:center; justify-content:space-between;}
	.cart_page .solid_line {margin-bottom:30px;}
	.cart_page .cart_radio_wrap {margin-bottom:14px;}
	.payment_area {width:100%; padding:0; border:none; border-radius:0; background: transparent;}
	.payment_area ul li + li {margin-top:12px;}
	.cart_area {width:100%;}	
	.cart_input {max-width:80px;}
	.cart_vat {display:inline-block; margin-bottom:0; margin-left:3px;}
	.cart_option {margin-top:8px;}
	.cart_option .cont {margin-right:6px;}
	.cart_delivery_text {margin-top:24px;}
	.cart_total {margin-top:24px; padding-top:24px;}
	.cart .cart_sum td {padding:20px 16px;}
	.cart_sum .gap {gap:16px;}
	.cart_address > *:not(:first-child) {margin-top:8px;}

	/* 결제 > 결제화면(개인으로 구매하기 선택시)*/
	.cart_page .transparent_table .table_wrap {width:calc(100% + 32px); margin-left:-16px; padding:14px 16px;}
	.table_top.border_full {width:calc(100% + 32px); margin-left:-16px; border-bottom:1px solid #4D525C; padding:0 16px 14px; margin-bottom: 30px;}
	.transparent_table.type2 .cart_delivery_text.no_border {width:calc(100% + 32px); margin-left:-16px; border:none; padding:24px 16px 0; margin-top:30px; border-top:1px solid #EFF1F3; background:transparent; border-radius:0;}
	.ordersheets .table_top.with_chk {justify-content:space-between;}
	.ordersheets .table_top .checkbox_wrap {margin-left:0;}

	/* 결제 > 결제완료*/
	.pay_complete .card {padding:56px 0 0;}
	.payment_cart_box .card .complete_title {font-size:20px;}
	.payment_cart_box .card button {width:100%; max-width:343px; margin-top:40px;}

	/* 결제 > 결제완료(무통장) */
	.order_info ul {width:343px; padding:20px;}
	.order_info ul li {flex-direction:column; align-items:flex-start;}
	.order_info ul li:not(:first-child) {margin-top:30px;}
	.order_info ul li p {margin-right:0; color:#787F8F; margin-bottom:7px;}
	.order_info ul li p + span {font-size:15px; color:#373B42;}
	.order_info ul li p:first-child:before {display:none;}
	.complete_txt {max-width:343px; padding:0 18px; margin:0 auto 24px;}

	/* 마이페이지 > 기업정보 관리*/
	.mypage/*_company*/ .tab_pager {white-space:nowrap; overflow-x:auto; padding: 0 16px; justify-content: flex-start; margin-bottom: 20px;}
	.mypage_company .mb_only .page_title.type2 {font-size: 16px; margin-bottom: 16px;}
	.mypage .mb_form_box {border: 1px solid #E7E9EC; border-radius:10px; padding: 20px;}
	.mypage .mb_form_box > ul > li > p {margin-bottom: 8px;}
	.mypage .mb_form_box > ul > li > span {font-size: 15px; color:#373B42;}
	.mypage .mb_form_box > ul > li + li {margin-top: 30px;}
	.mypage_company .mb_form_box > ul {padding-bottom: 24px;}
	.mypage_company .mb_form_box.type2 > ul {border-bottom: 1px solid #EFF1F3;}
	.mypage .mb_form_box button {min-width:135px; margin: 24px 0 4px 50%; transform:translateX(-50%);}
	.mypage .mb_form_box {margin-bottom: 60px;}
	.mypage .mb_gray_box {background: #FDFDFE;}
	.mypage .mb_gray_box.type2 {margin-top:20px;}
	.fixed_info.invited_pop.mb_only {transform:translateY(100%); max-height:343px; padding: 22px 20px;}
	.fixed_info.invited_pop.mb_only.on {transform:translateY(0);}
	.fixed_info.invited_pop.mb_only .btn_wrap {margin-top: 20px; border-top: 0;}
	.mypage_company .table_box h3.list_title {margin-bottom:17px;}
	.mypage_company .table_top {margin-bottom:12px; align-items: flex-end; }

	/* 소속 직원으로 초대 팝업*/
	.invited2_pop.mb_only .pop_cont {max-height:420px; width:100%; bottom:0; transform:translate(-50%,20px); border-radius:20px 20px 0 0 ; padding: 22px 20px}
	.invited2_pop.mb_only .pop_cont .table_wrap div + div{ margin-top: 10px;}

	/* 마이페이지 > 기업 견적내역 */
	.mypage_company .select.mb p {height: 34px; padding: 8px 36px 8px 16px;}
	.mypage .select.mb p {height: 34px; padding: 8px 36px 8px 16px;}

	/* 마이페이지 > 기업 적립금내역 */
	.mypage_company .card.points:first-of-type, .mypage_point .card.points:first-of-type {margin-bottom: 8px;}

	/* 개인정보수정 */
	.mypage_privacy .mb_privacy > h3 {padding-top: 20px; margin-bottom: 20px;}
	.mypage_privacy .phone_modify_open {width:155px;}
	.mypage_privacy .mb_only #address_number {width:calc(100% - 220px); text-align:center;}
	.mypage_privacy .btn_wrap {margin-top: 40px; border-top: 1px solid #EFF1F3;}
	.mypage_privacy .btn_wrap button {margin-top: 40px;}
	.policy_privacy_manager {margin-top: 12px;}

	/* 마이페이지 > 강의 관리 */
	.mypage_lecture_settlement .table_wrap {overflow-x:hidden;}

	/* 마이페이지 > 주문상세 */
	.newpage .array_ul span {font-weight: 400;}

	/* 이용약관/개인정보처리방침 */
	 .policy_service_text_box > h3 {font-size: 14px;}
	 .policy_service_text_box > p {font-size: 13px;}

	 /*강의관리 > 강의스케줄*/
	.schedule_box > .calendar_area {width:100%; border:1px solid #E7E9EC; border-radius:12px;}
	.lecture .calender_top {background: transparent;}

	/* 결제 > 버크만 서약 팝업 */
	.diagnosis_purchase_pop .pop_cont {min-width:90vw; max-height:90vh; overflow:hidden; padding-bottom:20px;}
	.diagnosis_purchase_pop .pop_cont .pop_cont_wrap {height:calc(90vh - 180px);}
	.diagnosis_purchase_pop .purchase_info_list li > p {color:#222429 !important;}
	.diagnosis_purchase_pop .btn_wrap.mb_only {position:fixed; left:50%; bottom:42px; transform:translateX(-50%); width: 86vw; height:86px; padding-top: 10px; border-top: 1px solid #E7E9EC; background: #fff;}
	.diagnosis_purchase_pop .checkbox + label {white-space:break-spaces;}

	/* 커뮤니케이션 > 자주하는질문 */
	.comm_faq .faq_text {width:calc(100% + 84px); margin-left: 0;}

	/* 마이페이지 > 교육과정 상세 */
	/* .education_container.mypage_education_detail {padding: 60px 16px;} */
	/* .mypage_education_detail.education_container .tab_pager {width: 100%; margin-left: 0px; padding: 0px;} */

	/* 진단관리 > 진단단체관리 > 수정/상세 > 이전 진단 대상자 불러오기 팝업 */
	.prev_member_detail_pop .table_search_form.render1.on, .prev_member_detail_pop .table_search_form.render2.on {margin-bottom: 20px; gap:8px 10px; flex-wrap:wrap;}
	.prev_member_detail_pop .table_search_form.render1.on input, .prev_member_detail_pop .table_search_form.render2.on input {max-width:100%; width:calc(50% - 5px);flex-basis:calc(50% - 26px);}
	.prev_member_detail_pop .table_search_form.render1.on input.full, .prev_member_detail_pop .table_search_form.render2.on input.full {flex-basis:calc(100% - 42px)}
	.prev_member_detail_pop ul.render1.on, .prev_member_detail_pop ul.render2.on {flex-direction:column; overflow-y: auto;}
	.prev_member_detail_pop ul.render2.on {max-height:266px; }

	/*Birkman at Work*/
	.work_txt_wrap {bottom:30px; font-size: 24px;}
	.work_wrap ul li {height: 446px; /*background-size:100%;*/ background-position: 0 center;}
	.work_wrap ul li:nth-child(odd) .work_txt_wrap {left: 25px;}
	.work_wrap ul li:nth-child(even) .work_txt_wrap {right:25px;}
	.work_txt_wrap p {font-size: 14px;}   
	/*.work_wrap ul li:nth-child(1) {background-image: url("/birkman/img/img_mb_work1.svg"); }
	.work_wrap ul li:nth-child(2) {background-image: url("/birkman/img/img_mb_work2.svg"); }
	.work_wrap ul li:nth-child(3) {background-image: url("/birkman/img/img_mb_work3.svg"); }
	.work_wrap ul li:nth-child(4) {background-image: url("/birkman/img/img_mb_work4.svg"); }
	.work_wrap ul li:nth-child(5) {background-image: url("/birkman/img/img_mb_work5.svg"); }
	.work_wrap ul li:nth-child(6) {background-image: url("/birkman/img/img_mb_work6.svg"); }*/

	/*마이페이지 > 나의 교육과정 > 상세*/
	.pass_desc {font-size: 16px; line-height: 24px;font-weight: 600; color:#222429;}
	.pass_desc span {display: block; margin-top: 15px; font-size: 14px; font-weight: 400; line-height: 22px; color:#4D525C; margin-bottom: 32px;}
	.pass_wrap img {width: 235px;}
}

@media screen and (max-width : 524px) {
	/*Birkman at Work*/
	.work_wrap ul li:after { background: linear-gradient(to top, #161819 20%, transparent 65%);}
	.work_wrap ul li {/*height: 446px; background-size:100%;*/ background-position: 0 0;}

}

@media screen and (max-width : 480px) {
	.table_wrap.inquiry .faq_text {width:calc(100% + (100vw - 98%));}

	/*Birkman at Work*/
	.work_wrap ul li:nth-child(odd) .work_txt_wrap {left: 16px;}
	.work_wrap ul li:nth-child(even) .work_txt_wrap {right:16px;}

	/*결제완료*/
	.complete_img {width: 100%;}
}

@media screen and (max-width : 424px) {
	.work_wrap ul li:after { background: linear-gradient(to top, #161819 35%, transparent 65%);}

}

@media screen and (max-width : 380px) {
	/*결제완료*/
	.order_info ul {width:100%;}
}


.relative {position:relative;}
.inner_pop.img_pop {margin-top:0; top:45px; padding:12px;}
.inner_pop.img_pop.on {margin-top:0; top:30px;}
.inner_pop.img_pop img {width:100%;}




/*[231018] 진단 구매 > 버크만 진단구매 */
h2.page_title.type2.bottom_xs {margin-bottom:8px;}
.table_box.large + .table_box.large {margin-top:60px;}
.tab_ul.mg_small {margin:20px 0 12px;}
.tab_wrap.mg_top_none {margin-top:0;}
.btn_wrap.inner_type {margin-top:28px;}
.gray_line_card.diagnosis_card {border-radius:12px; padding:28px;}
.diagnosis_area {display:flex; align-items:center; justify-content:space-between;}
.diagnosis_area .diagnosis_text {width:calc(60% - 40px);}
.diagnosis_area .diagnosis_text h3 {margin-bottom:12px;}
.diagnosis_area .diagnosis_img {width:40%}
.diagnosis_area .diagnosis_img img {max-width:100%;}
.define_ul > li:not(:first-child) {margin-top:24px;}
.define_ul > li > p {margin-top:6px; font-size:14px; color:#222429;}
.define_ul > li > .define_label {font-weight:600; margin: 0 0 8px 0; color:#373B42;}
.define_ul > li > .sub_text {color:#373B42;}
.define_ul > li > .sub_text span {font-weight:500; color:#787F8F;}
.define_ul > li > .sub_text span:after {content:" : ";}
.label_ul > li {display:flex;}
.label_ul > li:not(:first-child) {margin-top:14px;}
.label_ul > li .label_t {display:inline-block; width:83px; font-size:16px; color:#787F8F;}
.label_ul > li .label_t:after {content:" : ";}
.label_ul > li p {width:calc(100% - 83px); font-size:16px; color:#373B42;}
.link_btn {height:32px; padding:0 12px; line-height:30px; font-size:14px; background-color:#ffffff; color:#ffffff; border:1px solid #69A0B0; border-radius:999px;}
.link_btn.side {margin-left:6px;}


@media screen and (max-width : 1024px) {
	/*[231018] 진단 구매 > 버크만 진단구매 */
	.diagnosis_area {margin-top:30px; display:block;}
	.diagnosis_area .diagnosis_text, .diagnosis_area .diagnosis_img {width:100%;}
	.diagnosis_area .diagnosis_img {margin-top:30px; text-align:center;}
	.diagnosis_area .diagnosis_text h3 {margin-bottom:14px;}
	.gray_line_card.diagnosis_card {border-radius:8px; padding:24px;}
	.define_ul > li:not(:first-child) {border-top:1px solid #F5F6F7; padding-top:24px;}
	.define_ul > li > .define_label {font-size:16px; color:#222429; margin-bottom:12px;}
	.define_ul > li > .sub_text {margin-top:7px;}
	.define_ul > li > .sub_text span {display:inline-block; width:100%; margin-bottom:7px;}
	.define_ul > li > .sub_text span:after {display:none;}	
	.label_ul > li {display:block}
	.label_ul > li:not(:first-child) {margin-top:30px;}
	.label_ul > li .label_t {width:auto; margin-bottom:8px; font-size:14px; font-weight:500;}
	.label_ul > li .label_t:after {display:none;}
	.label_ul > li p {width:auto; font-size:15px; }
}